@using MarckPro.Helpers;
@{
    ViewBag.Title = "Showreel";
}

<h2>Showreel</h2>

<p>Det her er matts showreel</p>

<iframe width="854" height="480" src="https://www.youtube.com/embed/OMzhaiNlVpI" frameborder="0" allowfullscreen></iframe>
